body{
   margin:0px;
   padding:0px;
}

.m1{
  max-width: 1320px;
   height: 600px;
   margin: 50px 105px; 
   background-position: center;
   position: relative;
   background-image: linear-gradient(180deg, #070211 0%, rgba(233, 230, 237, 0) 100%),  url(Banner\ Image.png);  
}
.m2{
   display: flex;
   justify-content: center;
   flex-direction: column;
  align-items: center;
}

.m3{
   color: #FFFFFF;
   font-family: Merriweather; 
   font-size: 32px;
   font-weight: 400;
   position: absolute;
   top:31%;
   left: 42%;
  
}
h1{
   position: absolute;
   top:50%;
   left:50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color:#FFFFFF;
   font-weight: 900;
   font-family: Merriweather;
   font-size: 72px;
}

.m4{
   color: #F00;
   padding-top: 30px;
display: block;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
}
.m5{
   color: #F00;
   display: block;
   text-align: center;
   font-family: Inter;
   font-size: 24px;
   padding-top: 25px;
   font-weight: 500;  
}
.m6{
   color: #070211;
 display: block;
text-align: center;
font-family: Inter;
font-size: 48px;
padding-top: 5px;
font-weight: 700;
}

#h1{
   width: 802.9px;
  height: 500px;
  display: flex;
  padding-top: 50px;
  margin: auto;
}

#h8{
   
   background-image: linear-gradient( 90deg, #070211 0%, rgba(233, 230, 237, 0) 100%),  url(Vectorrr.png);
   max-width: 1320px;
   height: 600px;
   margin-top: 70px;
   margin-left: 105px;
   margin-right: 105px;
   background-position: center;
   position: relative;
}

.m22{
   position: absolute;
   top: 25%;
   left: 30%;
   text-align: left;
   transform: translate(-50%, -50%);
   color:#FFFFFF;
   font-weight: 900;
   font-family: Merriweather;
   font-size: 64px;
   letter-spacing: 7.04px;
}

.m23{
   position: absolute;
   top: 55%;
   left: 40%;
   text-align: left;
   transform: translate(-50%, -50%);
   color:#FFFFFF;
   font-weight: 900;
   font-family: Merriweather;
   font-weight: 400;
   font-size: 18px;
}

.m24{
   position: absolute;
   top: 14%;
   right: 9%;
   width: 310px;
height: 460px

}


.m25{
   color: #FFF;
   position: absolute;
   top: 80%;
   left: 18%;
   text-align: left;
   transform: translate(-50%, -50%);
   font-weight: 700;
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
   background-color: transparent;
   border: none;
   cursor: pointer;

}

.m7{
   margin: 105px;
   padding-top:15px ;
}

.m8{
   color: #F00;
   font-family: Inter;
   font-size: 24px;
  font-weight: 500;
}

.m9{
   color: #070211;
   display: block;
   font-family: Merriweather;
   font-size: 48px;
   font-style: normal;
   font-weight: 900;
   padding-top: 16px;
}

.m10{
   color: rgba(7, 2, 17, 0.60);
   font-family: Inter;
   font-size: 20px;
 font-weight: 400;
}
#h2{
   padding-top: 20px;
}

.m11{
   border: 12px;
   padding: 3px;
   width: 424px;
height: 450px;
}

#h3{
   margin-top: 100px;
 background: rgba(255, 0, 0, 0.05);
 width: 1320px;
height: 616px;
}
.m12{
   display: flex;
  padding-top: 70px;
  margin: auto;
}

.m13{
   color: #070211;
  display: flex;
  justify-content: center;
  flex-direction: column;
 align-items: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900; 
padding-top: 30px;
}

.m14{
   color: rgba(7, 2, 17, 0.60);
   display: flex;
   justify-content: center;
   flex-direction: column;
  align-items: center;
  text-align: center;
 font-family: Inter;
 font-size: 20px;
 font-weight: 400;
}

#h4{
   display: flex;
   justify-content: center;
  align-items: center;


}

.m15{
   margin-top: 10px;
   width: 648px;
   height: 68px;
   border: 2px solid black;
   margin-right: 0%;
   text-align: center;
}
 .m16{
   margin-top: 10px;
   width: 210px;
   height: 72px;
   border-radius:0px 50px 50px 0px;
  background: #F00;
}

#h5{
   background: black;
   color:white;
  width: 1600px;
height: 609px;
}

.m17{
   float:left;
   padding-top: 120px;
   padding-left: 160px;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.m18{
   float:right;
   font-family: Inter;
   font-size: 24px;
   font-weight: 500;
   padding-top: 120px;
   padding-right: 200px;
}

hr{
   height:2px;
   border: 2px;
   padding-right: 30px;
   width:80%;
   background:#070211;
}

#h6{
   display: flex;
   padding-top:50px;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.m19{
   padding-right: 15px;
   padding-left: 15px;
}
#h7{
    padding-top:100px ;

}
.m20{
   float: left;
   padding-left: 160px;
   color: #FFF;
   font-size: 24px;
   font-weight: 500;
   font-family: Inter; 
}
.m21{
   float:right;
   padding-right: 200px;
   color: #FFF;
   font-family: Inter;
   font-size: 24px;
   font-weight: 500;
}

